p{
    font-weight: bold;
    text-align: center;

}

.maincontainer{
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    margin-left: 40%;
    margin-right: 40%;
}
label{
    font-size: 20px;
    
}
input{
    width:100%;
    border:5px;

}
button{
    width: 50%;
    margin-top: 10px;
    color:black;
    font-size: 15px;
    background-color:blue;
    margin-left:80px;
}